.head {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background: var(--white);
  position: sticky;
}

.headerSectionLeft,
.headerSectionRight {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.headerSectionLeft {
  font-size: 24px;
  font-weight: 800;
}

.headerSectionLogo {
  height: 36px;
  aspect-ratio: 1;
  color: var(--green);
}

.headerSectionLogo:hover {
  color: var(--black);
}

.headerButton {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}
.headerButton:hover {
  background-color: var(--green);
  color: var(--white);
}

.headerIcon {
  height: 24px;
  aspect-ratio: 1;
}

@media (prefers-color-scheme: dark) {
  .head {
    background: var(--black);
    border-color: var(--white);
  }
}
