/* A CSS Reset heavily inspired byJosh Comeau's Custom CSS Reset.
   Check it out here: https://www.joshwcomeau.com/css/custom-css-reset/
   Some additional details are pulled from Chris Coyier's Notes on Josh Comeau's
   Custom CSS Reset.
   Check it out here: https://css-tricks.com/notes-on-josh-comeaus-custom-css-reset/
*/

:root {
  --green: #06ba63;
  --red: #c14953;
  --white: #fafffd;
  --black: #1a171c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg,
iframe,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
  hyphens: auto;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--black);
    background: var(--white);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--white);
    background: var(--black);
  }
}
